:root {
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-dark-gray:#404040;
  --color-light-gray:#C4C4C4;
  --color-dark-alternate:#131619;

  --border-radius:30px;
  --border: 1px solid var(--color-light);

  --font-family-base: 'Heebo', sans-serif;
  --font-family-accent: 'Yantramanav', sans-serif;

  --input-height:54px;

  --container-width:1300px;
  --container-padding-x:15px;

  --transition-duration:0.2s;

  --header-height: 90px;
}

body {
  background-color:var(--color-dark);
  font-family:var(--font-family-base);
  color: var(--color-light-gray);
  font-size: 16px;
  line-height: 1.75;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline:auto;
  padding-inline:var(--container-padding-x);
}

.container-wide {
  max-width: 1920px;
  margin-inline: auto;
}

.title-medium {
  font-size: clamp(15px, 2.08vw, 40px);
  line-height: 1.3;
}

.title-big {
  font-size: clamp(24px, 3.12vw, 60px);
  line-height: 1.3;
}

.backdrop-title{
  position: relative;
  z-index: 2;

  &::before {
    content: '';
    display: block;
    background: url('/icons/plus.svg') no-repeat center;
    background-size: contain;
    width: 26px;
    aspect-ratio: 1;


    position: absolute;
    right: calc(100% + 8px);
  }

  &::after {
    content: attr(data-title);

    color: transparent;
    -webkit-text-stroke: 1px var(--color-light-gray);
    text-stroke: 1px var(--color-light-gray);
    background: transparent;

    font-family: var(--font-family-accent);
    font-size: 2.8em;
    line-height: 1;

    position: absolute;
    top: -0.35em;
    left: -0.65em;

    z-index: -1;
  }

  &.centered::after{
    left:50%;
    translate:-50%;
    top:-0.35em

  }
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-light);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a{
  color:var(--color-light);

  &:hover {
      color:var(--color-light-gray);
  }
}

.button {
  display: inline-flex;
  height: 38px;
  align-items: center;
  padding-inline: 26px;
  line-height: 2;
  text-decoration: none;
  white-space: nowrap;
  text-transform: uppercase;
  background-color: var(--color-light);
  font-weight: 700;
  border: var(--border);
  border-radius: var(--border-radius);

  &:hover {
    background-color: var(--color-light-gray);
  }

  &.transparent {
    position: relative;
    height: var(--input-height);
    padding-inline: 31px 80px;
    background-color: transparent;
    border: var(--border);
    color: var(--color-light);

    &:hover {
      color: var(--color-dark);
      background-color: var(--color-light-gray);
    }

    &::after {
      content: '';
      position: absolute;
      background: url('/icons/arrow-up-right.svg') no-repeat center;
      background-size: 70%;
      height: 100%;
      aspect-ratio: 1;
      right:0;
      border: var(--border);
      border-radius: 50%;

    }
  }
}

.input {
  height: var(--input-height);
  padding-inline: 25px;
  width: 100%;
  color: var(--color-light);
  background-color: transparent;
  border: 2px solid var(--color-light-gray);
  border-radius: var(--border-radius);
  transition-duration: var(--transition-duration);

  &:focus {
      outline: none;
      color: var(--color-dark);
      background-color: var(--color-light-gray);
  }

  &:hover {
    border-color: var(--color-light);
  }

  &::placeholder {
    color: var(--color-light-gray);
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 32px;
  column-gap: 20px;
  min-height: var(--header-height);
  background-color: var(--color-dark-alternate);

  &-logo {
    flex-shrink: 0;
  }

  &-menu {


    &-list {
      display: flex;
      flex-wrap: wrap;
      column-gap: 50px;
    }
    &-item {

    }

    &-link {
      display: inline-flex;
      align-items: center;
      height: 90px;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 12px;
      letter-spacing: 1.2px;

      &.is-current {
        &::after {
          content:"";
          width: 5px;
          height: 5px;
          background-color: currentColor;
          border-radius: 50%;
          margin-left: 7px;
        }
      }

    }
  }

  &-actions {
    display: flex;
    align-items: center;
    column-gap: 40px;
  }

  &-burger-button {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    row-gap:4px;

    color: var(--color-light);

    width: 40px;
    height: 40px;
    background-color: transparent;

    padding-left: 8px;

    border:var(--border);
    border-radius: 50%;

    &:hover {
      color:var(--color-light-gray);
      border-color: currentColor;
      background-color: var(--color-dark);
    }

    &-line {

      width: 6px;
      height: 1px;
      background-color: currentColor;
      box-shadow: 18px 0 0 currentColor;

    }

  }
}

.banner{
  padding: 36px 70px;
  min-height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: var(--color-light);
  background-color: var(--color-dark-alternate);
  text-transform: uppercase;

  &-info {
    display: flex;
    align-items: end;

    font-size: clamp(14px, 1.56vw, 30px);
    font-weight: 700;
    line-height: 1.27;

    &::before {
      content: '';
      width: clamp(60px, 10.1vw, 194px);
      aspect-ratio: 1;
      margin-right: 30px;
      background: url("/icons/bold-arrow-down-right.svg") no-repeat center;
      background-size: contain;
    }
  }

  &-title {
    font-weight: 700;
    line-height: 1;
    font-size:min(18vw, 360px);

  }

  &-pagination {
    &-list {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-item {
      display: flex;
    }

    &-button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: none;
      padding: 7px;

      &::after{
        content: '';
        width: 10px;
        aspect-ratio: 1;
        border-radius: 50%;
        padding: 0;
        transition-duration: var(--transition-duration);

        border: var(--border);
      }

      &.is-current {

        &::after {
          background-color: var(--color-light);
        }
      }

      &:not(.is-current):hover::after {
        background-color: var(--color-light-gray);
      }
    }
  }
}

.motivation {


  &-item{

    &:nth-child(even) {
      background-color: var(--color-dark-alternate);

      & .motivation-card{
        flex-direction: row-reverse;
      }
    }
  }

  &-card {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap:clamp(30px,10.42vw,200px);

    &-title {
      margin-bottom: 14px;
    }

    &-body {
      padding-left: 30px;
    }

    &-image {
      margin-block:-60px;
    }

    &-description {
      max-width: 400px;
      margin-bottom: 40px;

    }
  }
}

.training-types {
  position: relative;
  background-color: var(--color-dark);
  padding-block:70px 120px;

  &-list {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap:60px;

  }

  &-item {
    --training-types-bgsize:80px;


    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap:32px;

    background: url('/icons/fitnessTypes/arrow-left-down.svg') no-repeat 100% 0;
    background-size: var(--training-types-bgsize);
    padding-top:var(--training-types-bgsize);



    &-title {
      font-size: 16px;

    }
  }

  &-image {
    position: relative;


  }


}

.join-us {
  background-color: var(--color-dark-alternate);

  &-video-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:150px 30px;
    background: url('/images/join-us-bg.jpg') no-repeat center/cover var(--color-dark-alternate);
  }

  &-video {
    max-width: 960px;
    width: 100%;
    height: auto;
  }

  &-video-play-button {
    position: absolute;
    top:50%;
    left: 50%;
    translate: -50% -50%;
    width: 200px;
    aspect-ratio: 1;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    column-gap: 4px;

    background-color: transparent;
    border: var(--border);
    border-radius: 50%;
    color: var(--color-light);
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;

    &:hover {
      border-color: var(--color-light-gray);
      color: var(--color-dark);
      background-color: var(--color-light-gray);

      &::after {
        filter: invert(100%);
      }
    }

    &::after {
      content: '';
      background: url('/icons/arrow-up-right.svg') center/contain no-repeat;
      aspect-ratio: 1;
      width: 30px;

      transition-duration: var(--transition-duration);
    }
  }

  &-title {

    margin-top:-0.4em;
    position: relative;
    text-align: center;
    font-size: clamp(60px, 9.38vw, 180px);
    line-height: 1;

    &:not(:last-child) {
      margin-bottom: 150px;
    }




    &::after {

      display: inline-block;
      content: '';
      background: url('/icons/arrow-up-right-bold.svg') center/contain no-repeat;
      width: 0.7em;
      aspect-ratio: 1;
      margin-left: 0.14em
    }
  }

  &-body {
    padding-bottom: 150px;
  }

  &-form {

    &-header {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      column-gap: 7px;

      &:not(:last-child) {
        margin-bottom: 50px;
      }
    }

    &-body {
      display: flex;
      column-gap: 20px;
      justify-content: center;
    }

    &-title {
      font-size: clamp(20px, 3.12vw, 60px);
    }

    &-subtitle {
      font-size: clamp(15px,1.05vw, 20px);
      line-height: 1.65;
      text-transform: uppercase;
      color: var(--color-light);
      text-align: center;
    }

    &-input {
      max-width: 400px;
    }

  }
}

.location{

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: end;

  &-map-image {
    height: auto;
  }

  &-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 2;
    padding-block: 190px 160px;
  }

  &-title {
    display: inline;
    margin-bottom: 14px;

    text-transform: uppercase;
    text-align: center;
  }

  &-description {
    margin-bottom: 35px;
    text-align: center;
    max-width: 490px
  }
}

.family {
  background-color: var(--color-dark-alternate);

  &-header {
    padding-block: 130px 60px;
    text-align: center;
  }

  &-body {
    scroll-snap-type: x mandatory;
    overflow-x:scroll;

    display: flex;
    column-gap: 26px;
    align-items: center;

  }

  &-title {

    font-size: clamp(25px,3.75vw, 72px);
  }

  &-description {

    text-transform: uppercase;
    font-size: clamp(20px, 1.72vw, 33px);
  }


  &-image{
    height: auto;

  }
}

.pause-button-hover {
  display: inline-block;
  transition-duration: var(--transition-duration);
}

@media (max-width: 1919px) {
  .motivation-card-image{
    margin-block: -20px;
  }
}

@media (max-width: 1280px) {
  .training-types-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1024px) {

  .header{
    flex-wrap: wrap;
    padding-top: 20px;
    row-gap:10px;
    padding-inline: 15px;
  }

  .header-menu {
    order:1;
    flex-basis: 100%;
  }

  .header-menu-link {
    height: 50px;
  }

  .banner {
    padding-left:15px;
    padding-right: 15px;
    row-gap: 10px;
  }

  .motivation-card {
    padding-block: 50px;
  }

  .motivation-card-image{
    max-width: 30%;
    height: auto;
    margin-block: 0;
  }

  .join-us-title:not(:last-child) {
    margin-bottom: 80px;
  }

  .join-us-body {
    padding-bottom: 80px;
  }

  .location {
    grid-template-columns: 1fr;
  }

  .location-body{
    padding-block: 80px 100px;
  }

  .location-description {
    margin-bottom: 20px;
  }

  .location-map-image {
    order:1;
  }

  .family-image {
    height: 360px;
    width: auto;
  }

  .family-header {
    padding-block: 80px 40px;
  }

}

@media (max-width: 760px) {
  .button {
    padding-inline:14px;
  }

  .header {
    padding-top:10px;
  }

  .header-menu-link {
    height: 32px;
  }

  .header-menu-list {
    column-gap: 24px;
  }

  .header-actions {
    column-gap: 13px;
  }

  .header-burger-button {
    width: 35px;
    height: 35px;
  }

  .banner {
    padding-inline: 10px;

    &-info::before {
      margin-right: 10px;
    }
  }

  .motivation-card, .motivation-item:nth-child(even) .motivation-card {
    flex-direction: column-reverse;
  }

  .motivation-card {
    row-gap:30px;
  }

  .motivation-card-image {
    max-width: 60%;
  }

  .training-types-list {
    grid-template-columns: repeat(2, 1fr);
    gap:30px;
  }

  .training-types-item {
    --training-types-bgsize:50px;
    row-gap:10px;
  }

  .training-types-image {
    max-width: 120px;
    height: auto;
  }

  .join-us-video-play-button {
    width: 140px;
  }

  .join-us-title:not(:last-child) {
    margin-bottom: 40px;
  }

  .join-us-form-body{
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  .family-image {
    height: 180px;
    width: auto;
  }

  .family-header {
    padding-block: 60px 30px;
  }

}






